/*
Colors Used:
Background (main): #f6f6f6;
Background-2 (navigation/hero): #fefefe;
Primary Color (h1 h2): #141414;
Primary Varitation-1 (h3): #3d3d3d
Primary Varitation-2 (h4): #525252
Primary Varitation-3 (body): ##525252
Primary Variation-4 (divider line): #e0e0e0
Accent Color-1 (links): #1f8f89;
Accent Color-1 Variation (link hover): #23b9b0
Accent Color-2 (buttons): #e99d2b
Accent Color-2 Variation (link hover): #f5ac3e
*/

/*
Typography used:
Font Family; DM Sans 
*/

/* GLOBAL ELEMENTS */
* {
    box-sizing: border-box;
  }


/* Typography*/
body {
    background-color: #f6f6f6;
    font-family: 'DM Sans', sans-serif;
    font-size: 16px; /* Sets the font size to 16px */
    font-weight: 400; /* Sets the font weight to 400 */
    line-height: 1.5; /* Sets the line-height to 1.5 * the font-size */
    color: #666666;
    width: 100%;
}

h1 {
    font-family: 'DM Sans', sans-serif;
    font-size: 2.5em;
    font-weight: 800;
    line-height: 1.0;
    color:#141414
}

h2 {
    font-size: 2.35em;
    font-weight: 700;
    line-height: 1.0;
    color:#141414
}

h3 {
    font-size: 1.75em;
    font-weight: 700;
    line-height: 1.0;
    color: #3D3D3D;
}
h4 {
    font-size: 1.25em;
    font-weight: 500;
    line-height: 1.0;
    color:#525252;
}


/* Links */
a {
    color: #1F8F89;
    font-weight: 700;
    text-decoration: none; /* No underlining */
    transition: .4s;
    opacity: 1;
}

a:hover, a:focus {
    color: #23B9B0; /* change the link text color to lighter teal on hover */
    text-decoration: none; /* No underlining */
}


.nav_link {
    text-transform: uppercase;
    letter-spacing: 0.1em;
}


/* Buttons*/
.button, .button:visited {
    display: inline-block;              /* since the <a> tag is inline by default, we need to change this to inline-block */
    background-color: #e99d2b;
    border: 2px solid #e99d2b;
    color: #fefefe;                  /* needed to override the default link color */
    font-size: 14px;
    text-decoration: none; 
    letter-spacing: 0.12em;
    text-transform: uppercase;
    border-radius: 8px;            
    padding: 16px 20px;
    margin-top: 8px;
    opacity: 1;
    transition-duration: 0.4s;
  }
  
  .button:after {
    background-color: #e99d2b;
    border: 2px solid #e99d2b;
    color: #e99d2b;
  }
  
  .button:hover {
    background-color: transparent;
    border: 2px solid #e99d2b;
    color: #e99d2b;
  }
  
  .button:hover:after {
    width: 110%;
  }
  

  .ghost_button, .ghost_button:visited {
    display: inline-block;              
    background-color: transparent;
    border: 1px solid #e99d2b;
    color: #e99d2b;                  
    font-size: 14px;
    text-decoration: none; 
    letter-spacing: 0.12em;
    text-transform: uppercase;
    border-radius: 8px;            
    padding: 12px 16px;
    margin: 8px 16px 20px 16px;
    opacity: 1;
    transition-duration: 0.4s;
  }

  .button:after {
    background-color: #f9dcbf;
    color: #e99d2b;
    border: transparent;
  }

  .ghost_button:hover {
    background-color: #f9dcbf;
    color: #e68b04;
    border: transparent;
  }

  .ghost-button:hover:after {
    width: 110%;
  }


  #myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: red; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
  }
  
  #myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
  }
  

  /* Images */
  img {
    width: 100%;
  }

  * {
    box-sizing: border-box;
  }


  /* Layout styling */
  .container {
    padding: 0 15px;
  }

  .row {
    margin: 28px 0; /* 25px top and bottom, 0 left and right */
    padding-bottom: 28px; 
    border-bottom: 1px 
    solid #e0e0e0; 
    }

  
  .row-last {
    margin: 28px 0 0 0; /* 25px top and bottom, 0 left and right */
    padding-bottom: 44px; 
}


 /* Header & Nav section */
 header {
    background-color: #fefefe;
    padding: 10px 0; /* Adds a 10px inner spacing, with none L and R */
    margin: 0 auto; /* No spacing to top and bottom and auto spacing to left and right */
    text-align: center;
	box-shadow: 0 2px 18px rgba(89, 88, 89, 0.2); /* adds drop shadow */
    position: fixed; /* adds scroll */
    width: 100%; /* expands to full screen widths */
}

nav {
    display: inline-block;
    width: 100%;
}

.logo {
    max-width: 250px;
}
  
nav > ul { /* removing bullet points in unordered list */
    list-style-type: none;
    padding: 0;
}

nav > ul > li { /* moving list items in unordered list to one line */
    display: inline-block;
    width: auto;
    text-align: center;
}

nav > ul > li > a { /* links that are list elements within unordered list */
    padding: 0 12px;
}

/* Footer & Contact Section */

footer{
    width: 100%;
}

#contact {
    text-align: center;
    padding: 16px 0 16px 0;
    background-color: #fefefe;
}

#contact .container {
    margin: 50px, 0;
}

.phone {
    padding-top: 24px;
}
.socials{
    display: inline-block;
    align-items: center;
    padding: 16px;

}

.svg-container{
    width: 72px; /* (40px + 16px + 16px) */
    height: 72px; /* (40px + 16px + 16px) */
    display: inline-block; /* aligns icosn in a row */
}

.svg-logo {
    height: 40px;
    width: 40px;
}

.svg-logo:hover {
    opacity: .85;
}



/* Main section */
main {
    padding-top: 137px;
    background-color:#f6f6f6;
  }


/* ---- INDEX/HOME ---- */

    /* Hero Section */
    #hero {
        background-color: #fefefe; /* makes background color same as header */
        padding: 20px 0; /* adds 20px to top and bottom */
        display: inline-block; /* margins of elements will only affect elements in this section */
        width: 100%; /* will expand and shrink to full browser width */
        text-align: center;
    }

    #hero h1 {
        font-family: 'Wix Madefor Display', sans-serif;
        font-weight: 800;
        font-size: 3.4em;
        color: #23B9B0;
        margin: 20px 0; /* default margins changed to top 20 px bottom 20 px */
    }

    #hero h2{
        font-weight: 500;
        margin: 24px;
    }
    
    #hero p{
        margin-top: 0;
        color: #858585;
    }

    #hero p.special-paragraph {
        padding-top: 32px;
        color: #474747;
    }


    /* Projects Section */
    
    #projects h2 {
        text-align: center;
        color: #3d3d3d;
        padding: 8px 0;
    }

    #projects h3 {
        margin: 24px 0 0px 0;
    }


/* ---- ABOUT ---- */

    hero .container{
        display: flex;
        flex-direction: column;
    }

    h1 {
        font-family: 'Wix Madefor Display', sans-serif;
        font-weight: 800;
        font-size: 3.9em;
        color: #23B9B0;
        margin: 20px 24; /* default margins changed to top 24 px bottom 24 px */
        text-align: center;
        letter-spacing: 0.05em;
    }

    .about-img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 30%;
        max-height: 50%;
        border-radius: 16px;
      }

    #hero .about-intro {
        order: 3;
        margin-top: 20px;
        text-align: center;
    }

    /* My Story */
    #about h2 {
        text-align: center;
        color: #3d3d3d;
        padding: 8px 0;
    }

    #about h4{
        margin: 32px 0 12px 0;
    }

    /* Skills & Tools */
    #about h3{
        margin: 32px 0 12px 0;
    }
    #about ul{
        padding-left: 24px;
    }

    #about ul >li {
        padding: 4px 0;
    }

    .resume {
        text-align: center;
    }

    #about .row-last{
        padding-bottom: 22px;
    }

    #about ul{
        margin-bottom: 0px;
    }


   

/* ---- PORTFOLIO PROJECTS ---- */


    /* Intro Section */
    #intro {
        text-align: left;
        background-color: #fefefe; /* makes background color same as header */
        padding: 20px 0; /* adds 20px to top and bottom */
        display: inline-block; /* margins of elements will only affect elements in this section */
        width: 100%; /* will expand and shrink to full browser width */
        text-align: center;
    }

    #intro h1 {
        font-family: 'Wix Madefor Display', sans-serif;
        font-weight: 800;
        font-size: 3.4em;
        color: #23B9B0;
        margin: 20px 24; /* default margins changed to top 24 px bottom 24 px */
    }
    
    #intro p {
        text-align: left;
        color: #858585;
    }

    #intro .preview {
        margin: 32px 0 24px 0;
    }

    #context, #user-flow, #wireframes, #testing, #brand, #final-designs {
        scroll-margin-top: 150px; /* Equal to the height of the fixed header */
      }


    /* Process Section*/
    #process .row-context { 
        padding-bottom: 25px; 
        border-bottom: 1px solid #e0e0e0; 
    }

    #process .row-user-flow { 
        padding-bottom: 25px; 
        border-bottom: 1px solid #e0e0e0; 
    }

    #process .row-wireframes { 
        padding-bottom: 25px; 
        border-bottom: 1px solid #e0e0e0; 
    }

    #process .row-testing { 
        padding-bottom: 25px; 
        border-bottom: 1px solid #e0e0e0; 
    }

    #process .row-branding { 
        padding-bottom: 25px; 
        border-bottom: 1px solid #e0e0e0; 
    }
    
    #process h2 {
        text-align: center;
    }

    #process h4 {
        text-align: center;
    }



/* ANIMATION PROJECT LANDSCAPE */

.landscape {
    width: 100%;
    max-width: 100%;
    height: auto;
}

@keyframes mountain-color-change {
    0% {fill: #003c44;}
    50% {fill: #006876;}
    100% {fill: #00a3d0;}
}

.mountain {
    animation-duration: 4s;
    animation-name: mountain-color-change;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}

@keyframes bird-move {
    from {
        transform: translate(10px,5px);
    }
    to {
        transform: translate(400px,-100px);
    }
}

.bird {
    animation-duration: 7s;
    animation-name: bird-move;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}

@keyframes land-color-change {
    0% {fill: #154a00;}
    50% {fill: #0a7500;}
    100% {fill: #1aad00;}
}

.land {
    animation-duration: 4s;
    animation-name: land-color-change;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}

  .sunset {
    animation: moveUpDown 8s infinite, sun-color-change 4s infinite alternate linear;
  }
  
  @keyframes moveUpDown {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-100px);
    }
    100% {
      transform: translateY(0);
    }
  }
  
  @keyframes sun-color-change {
    0% {
      fill: #f76014;
    }
    50% {
      fill: #f3a74a;
    }
    100% {
      fill: #f0d000;
    }
  }

  


/* MEDIA QUERIES */

 /* ==============================
    Medium devices (640px and larger)
    ================================= */
    @media only screen and (min-width: 640px) {
        header {
            text-align: unset;          /* removes text align: center */
            padding: 20px 0 13px;       /* added padding to align with logo */
        }

        nav {
            width: auto;                /* changes width from full screen width to only as wide as its content and aligned with the logo. */
            float: right;               /*floats to the right of the logo */
            margin-top: 2px;            /* added top margin to align with logo */
        }

        body {
            font-size: 16px;            /* changes changes font size from 16px to 18px */
        }

        main {
            padding-top: 94px;          /* changes top padding to eliminate gap between header and hero */
        }

        [class*="col-"] {               /* class attribute selcector */
            float: left;     
            padding: 0 20px;            /* floats columns with class col- to left */
        }

        .col-md-6 {                     /* each column will take up 50% of the original width 100% aka 6 column grid vs 12 */
            width: 50%;
        }

        .col-md-12 {
            width: 100%;
        }

        .col-5 {
            width: 20%;
            padding: 12px;
            float: left;
            text-align: center;
            margin-bottom: 44px;
        }

        .col-3 {
            width: 33.3%;
            height: auto;
            padding: 44px;
            float: left;
            margin-bottom: 44px;
        }

       .col-md-2{
            width: 50%;
            text-align: center;
            padding-left: 0;
            margin: 0;
            padding-right: 56px;
        }

        
        .row::after {                   /* clears the flow to prevent overlapping elements */
            content: "";
            clear: both;
            display: table;
        }

        #projects .row-last .col-md-6 { /* adds padding to the bottom so button does not lay on the footer  */
            padding-bottom: 28px;
        }
        

        #about .h2 { 
            margin-top: 0;              /* removes extra space between h1 and skills and tools columns */
        }

        #about .row-last {
            padding-bottom: 0;          /* removes extra space between h1 and skills and tools columns */
        }

        .about-img {
            text-align: center;
            max-width: 100%;
            max-height: 100%;
        }

        #about .row .row-last {
            padding: 0 20px 24px 20px;
        }

        .svg-logo {
            height: 44px;
            width: 44px;
        }

        .svg-container {
            width: 84px;
            height: 84px;
        }

        #about .col-lg-7{
            margin-top: 0;
            margin-bottom: 0;
            padding-bottom: 44px;
        }
        
        #about .row-last{
            margin-top: 0;
        }

        .resume{
            padding-top: 12px;
        }

        #about .col-md-6{
            padding-bottom: 44px;
        }

        #about .col-md-6 h4{
            margin-top: 0;
        }

        .c-i {
            height: 130px;
        }

        .t-i{
            height: 400px;
        }

        .example {
            height: auto;
            width: auto;
        }

        .imagery .col-3{
            margin-bottom: 24px;
            padding: 8px;
        }

        #intro .container, #process .container{
            margin: 20px;
        }
        
        #process ul{
            padding-left: 24px;
            padding-bottom: 16px;
        }

        #process h4{
            margin-bottom: 24px;
            text-align: left;
        }


        #process h5 {
            font-size: 14px;
            font-weight: 800;
            margin-top: 0;
            margin-bottom: 16px;
        }

        .mobile-wireframes img{
            max-width: 20%;
            padding: 8px;

        }

        .mobile-wireframes, .desktop-wireframes, .midfi-wireframes, .test-home, .test-c, .test-cd, .final-designs {
            text-align: center;
        }

        .desktop-wireframes img {
            max-width: 40%;
            padding: 8px;
        }

        .midfi-wireframes h3 {
            text-align: left;
        }

        .midfi-wireframes img, .test-home img, .test-c img, .test-cd img {
            max-width: 20%;
            padding: 8px;
        }

        .midfi-wireframes .midfi-desktop {
            max-width: 55%;
        }

        .imagery{
            text-align: center;
            height: auto;
        }


        .final-designs img {
            max-width: 30%;
            padding: 8px;
        }
        
        .final-designs .final-desktop {
            max-width: 100%;
        }

        .test-home{
            width: auto;
        }

        .final-designs h3{
            text-align: left;
        }

        about-content {
            display: flex;
            flex-direction: column;
          }
        
          .text-wrapper {
            order: 1;
            margin-right: 1;
            margin-left: 1;
          }
          .wrap {
            order: 2;
          }
        .logo {
            height: auto;
        }

        .imagery {
            margin-bottom: 44px;
        }

        #context, #user-flow, #wireframes, #testing, #brand, #final-designs {
            scroll-margin-top: 104px; /* Equal to the height of the fixed header */
          }

        #intro h3{
            margin-top: 44px;
            margin-bottom: 16px;
        }
    }


    

    /* ==============================
    Large devices (1024px or larger)
    ================================= */
    @media only screen and (min-width: 1024px) {
        
        .col-lg-7 {
            width: 58.33%;              /* 7 grid coloumn for index project image - splits page around 60/40 */
        }
        
        .col-lg-5 {
            width: 41.66%;              /* 5 gird column for heading, paragraph, and button - splits page around 60/40 */
            margin: 32px 0;              
        }

        .col-lg-12 {
            width: 100%;
        }
        
        .row-large{
            width: 100%;
        }
        .container {
            max-width: 1200px;          /* restricts content to extending past 1200px */
            margin-left: auto;          /* centers content on the screen */
            margin-right: auto;         /* centers content on the screen */
          }

        #hero {
            padding: 44px;
        }


        #projects h2 {
            margin: 44px 0;
        }

        #projects h3 {
            margin-top: 0;
        }

        .row {
            margin: 44px 0;
            padding-bottom: 44px;
        }


        #about .row .row-last{
            padding: 0 24px 44px 24px;
        }

        .resume{
            padding-top: 32px;
            text-align: left;
        }
        
        #about .skills{
            margin-top: 0px;
        }
     
        #about h2{
            text-align: left;
        }
        
        #about .col-lg-7 {
            padding-left: 40px;
            padding-right: 44px;
            margin-top: 32px;
        }

        #about .row{
            border-bottom: 0;
        }

        #about ul {
            margin-bottom: 0;
        }

        .svg-logo {
            height: 52px;
            width: 52px;
        }

        .svg-container {
            width: 92px;
            height: 92px;
        }
      
        
        .about-img {
            width: auto;
            max-width: 25%;
            height: auto;
            float: right;
            margin-top: -100px;
            margin-left: 32px;
            margin-bottom: 20px;
          }
        
          .about-content {
            display: flex;
            align-items: flex-start;
          }
        
          .text-wrapper {
            flex-grow: 1;
            margin-right: 0;
          }
        
          .text-wrapper h1,
          .text-wrapper .about-intro {
            text-align: left;
            margin-bottom: 0;
          }
        
          #hero .about-intro {
            text-align: left;
          }

        

        
    }
        
        
    
        
        
            
        
   

    

   
        